.cart-page{
    position: relative;
}

.cart-items{

}
.cart-item{
    padding: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .4rem;
    margin-block: .5rem;
    border: 1px solid var(--light-gray);
    position: relative;
}
.cart-item__image{
    width: 100px;
    height: 100px;
}
.cart-item__image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: var(--light-gray);
    border-radius: 5px;
}
.cart-item_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-item__color{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid var(--light-gray);
}
.cart-item__color_wrapper{
    display: flex;
    align-items: center;
    gap: .3rem;
}

.cart-item__color_storage{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.cart-item-border{
    border: 1px solid var(--light-gray);
    padding: 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.remove-from-cart{
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

.remove-from-cart svg{
    font-size: 1.9rem;
    z-index: 2;
    background-color: white;
}

.cart-subtotal{
    background-color: yellow;
}

@media screen and (min-width: 768px) {
    .cart-item__image{
        width: 130px;
        height: 130px;
    }
    .cart-page{
        display: grid;
        grid-template-columns: 2.5fr 1.5fr;
        gap: 1rem;
    }
    .cart-subtotal{
        position: sticky;
        top: 70px;
        height: 300px;
    }
}
