.faq-wrapper{
    margin-inline: auto;
    width: min(700px, 98%);
}

.faq-item{
    margin-block: .7rem;
    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.faq-question{
    border-radius: 10px;
    background-color: white;
    padding: .8rem;
    transition: all 400ms;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.faq-question:hover{
    background-color: var(--light-gray);
}

.faq-question.active{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background: radial-gradient(circle , var(--primary-blue),var(--deep-blue));
    color: white;
}


.faq-question svg{
    font-size: 1.125rem;
    font-weight: bolder;
    transition: all 400ms;
}
.faq-question.active svg{
    transform: rotate(180deg);
}

.faq-answer{
    max-height: 0;
    overflow: hidden;
    transition: all 400ms;
    padding: 0 20px;
}

.faq-answer.active{
    padding: 20px;
    max-height: 13rem;
    transition: all 400ms;
}