.pagination-wrapper{
    display: flex;
    justify-content: center;
}

.pagination-wrapper .pagination{
    display: flex;
    gap: .5rem;
}

.pagination-wrapper .pagination__btn{
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-wrapper .pagination__btn:hover{
    border: 1px solid var(--primary-blue);
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: 500;
}

.pagination-wrapper .pagination__btn.active{
    background-color: var(--primary-blue);
    color: white;
    font-weight: 600;
}

.pagination__btn.border{
    border: 1px solid gainsboro;
}